/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

/* Header Styles */
header {
    background: rgb(45,44,59);
    background: linear-gradient(90deg, rgba(45,44,59,1) 3%, rgba(86,176,113,1) 5%, rgba(42,64,49,1) 99%);
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 60%;
    margin-right: 20px;
}

nav {
    display: flex;
    align-items: ;
    flex: 1;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

#connectButton {
    margin-left: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#connectButton:hover {
    background-color: #0056b3;
}


.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon div {
    width: 25px;
    height: 3px;
    background: #333;
    margin: 4px 0;
}

#nav-links {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    header .container {
        width: 90%;
    }

    .menu-icon {
        display: flex;
    }

    #nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background: #f4f4f4;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 10px 0;
    }

    #nav-links li {
        margin: 10px 0;
    }

    #nav-links li a {
        padding: 10px 20px;
        display: block;
    }
}

@media (max-width: 480px) {
    .logo {
        width: 80px;
        height: 80px;
    }
}

.show {
    display: flex !important;
}

/* Overlay styling for sections */
.tinted-overlay {
    position: relative;
}

.tinted-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.tinted-overlay .container {
    position: relative;
    z-index: 2;
}

.show {
    display: flex !important;
}

/* Shared Background Section Styles */
.shared-background {
    background: url('Resources/hero-image.jpeg') no-repeat center center/cover;
    position: relative;
    color: white;
    
    padding: 40px;
    border-radius: 5%;
}

.shared-background1 {
    background: url('Resources/bg3.jpg') no-repeat center center/cover;
    position: relative;
    padding: 50px;
    border-radius: 5%;
    
}

/* Overlay Styles */
#hero {
    background: url('Resources/hero-image.jpg') no-repeat center center/cover;
    height: 400px;
    position: relative;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

#hero .container {
    position: relative;
    z-index: 1;
}

#sellerButton {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#sellerButton:hover {
    background-color: #218838;
}
#hero h1, #hero p {
    position: relative;
    z-index: 2;
}

#hero h1 {
    font-size: 3em;
    margin: 0;
    animation: fadeInDown 1.5s ease-in-out;
}

#hero p {
    font-size: 1.2em;
    margin: 20px 0;
    animation: fadeInUp 1.5s ease-in-out;
}



/* Our Vision Section Styles */
#our-idea {
    padding: 60px 20px;
}

#our-idea h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 40px;
    animation: fadeInUp 1.5s ease-in-out;
    z-index: 2;
}

#our-idea .content {
    display: flex;
    flex-wrap: wrap;
}

#our-idea .text {
    flex: 1;
    padding: 20px;
    animation: fadeIn 1.5s ease-in-out;
}

@media (max-width: 768px) {
    #our-idea .content {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 480px) {
    #our-idea h2 {
        font-size: 2em;
    }

    #our-idea p {
        font-size: 1em;
    }
}

/* Green Energy vs Carbon Credits Section Styles */
#green-energy-vs-carbon-credits {
    padding: 60px 20px;
}

#green-energy-vs-carbon-credits h2 {
    color: black;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 40px;
    animation: fadeInUp 1.5s ease-in-out;
}

.comparison {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.comparison-item {
    flex: 1;
    margin: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    animation: fadeIn 1.5s ease-in-out;
}

.comparison-item h3 {
    margin-top: 0;
    color: black;
}

@media (max-width: 768px) {
    .comparison {
        flex-direction: column;
        align-items: center;
    }

    .comparison-item {
        width: 80%;
        margin: 10px 0;
    }
}

/* Facts Section Styles */
#facts {
    padding: 60px 20px;
}

#facts h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 40px;
    animation: fadeInUp 1.5s ease-in-out;
    color: black;
}

.facts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fact-item {
    flex: 1;
    margin: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    animation: fadeIn 1.5s ease-in-out;
}

.fact-item h3 {
    margin-top: 0;
}

@media (max-width: 768px) {
    .facts {
        flex-direction: column;
        align-items: center;
    }

    .fact-item {
        width: 80%;
        margin: 10px 0;
    }
}

/* How It Works Section Styles */
#how-it-works {
    background: #f9f9f9;
    padding: 60px 20px;
    text-align: center;
    background:url(/Resources/HIW.jpg);
}

#how-it-works .steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Container and steps styling */
#how-it-works .steps {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#how-it-works .step {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

/* Scroll down button styling */
.scroll-down {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.scroll-down:hover {
    background: #45a049;
}

.tinted-overlay {
    position: relative;
}

.tinted-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.tinted-overlay .container {
    position: relative;
    z-index: 2;
}


#how-it-works h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
    animation: fadeInUp 1.5s ease-in-out;
    color: #f4f4f4;
}

/* Footer Styles */
footer {
    background: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-links, .contact-info, .newsletter {
    margin-bottom: 20px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.contact-info p, .social-media a img {
    margin: 5px 0;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-media a img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.newsletter input {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.newsletter button {
    padding: 10px 20px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.newsletter button:hover {
    background: #45a049;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input, form textarea, form select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

form button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #218838;
}

/* Other Sections */
section {
    padding: 50px 0;
}

#our-idea, #green-energy-vs-carbon-credits, #facts {
    background: #f9f9f9;
    opacity: 0.8;
}

/* #how-it-works {
    background: #e9ecef;
    opacity: 0.1;
} */

.comparison {
    display: flex;
    justify-content: space-between;
}

.comparison-item {
    width: 45%;
}

.fact-item {
    width: 45%;

}

.footer-links, .contact-info, .newsletter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-media {
    display: flex;
}

.social-media a {
    margin: 0 10px;
}

.newsletter input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.newsletter button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.newsletter button:hover {
    background-color: #0056b3;
}